Package: nubots-toolchain
Version: 3.0.4
Section: base
Priority: optional
Architecture: amd64
Multi-Arch: foreign
Maintainer: NUbots <nubots@nubots.net>
Description: NUbots toolchain
 All of the libraries built for the NUbots toolchain
