Package: nubots-toolchain
Version: 1.1.2
Section: base
Priority: optional
Architecture: i386
Maintainer: NUbots <nubots@nubots.net>
Description: NUbots toolchain
 All of the libraries built for the NUbots toolchain
