# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled python
*.pyc

# Build & CMake files
/build*/
/vagrantbuild/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Vagrant & Packer
.vagrant/
*.box
*.iso
*.deb
packer/build.hwm
packer/build.pwd
packer/build.pwi

# LaTeX stuff
*.aux

*.out
*.glo
*.idx
*.log
*.nav
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.snm
*.synctex.gz
*.synctex
*.vrb
*.tdo
*TSWLatexianTemp*

# Misc
tags
*.swp
/nbproject/
*~
.DS_Store
.idea
*.sublime-workspace
