.DS_Store
/node_modules
.module-cache
/build
/dist

# IntelliJ IDEA
/.idea/workspace.xml
/.idea/tasks.xml

# Sublime Text
NUsight2.sublime-workspace

# Jest coverage report
/coverage

# Generated protocol buffer files
/src/shared/proto/messages.js
/src/shared/proto/messages.d.ts

# NBS recordings
recordings
