.DS_Store
node_modules
.module-cache
build

# IntelliJ IDEA
/.idea/workspace.xml
/.idea/tasks.xml

# Sublime Text
NUsight2.sublime-workspace

# Jest coverage report
/coverage

# NBS recordings
recordings
