@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');

html,
body {
  margin: 0;
  padding: 0;
}

.app {
  font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
  min-height: 100vh;
  line-height: 1.4em;
  background: #fff;
  color: #4d4d4d;
  font-weight: 300;
  display: flex;
  align-items: stretch;
}

.app__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app__content {
  flex-grow: 1;
  display: flex;
}

/* TODO (Annable): remove */
.app__content h1 {
  padding: 16px;
}

