.checkbox {
  cursor: pointer;
  display: inline-block;
  height: 1.25em;
  position: relative;
  width: 1.25em;
}

.nativeControl {
  appearance: none;
  height: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.background {
  border: 2px #757575 solid;
  border-radius: 2px;
  box-sizing: border-box;
  height: 100%;
  padding: 0.5px;
  position: absolute;
  width: 100%;
  transition: background-color 0.1s ease-out, border-color 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.checked {
  background-color: #1197d3;
  border-color: #1197d3;
}

.disabled {
  opacity: 0.6;
}

.checkIcon {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  position: absolute;
}

.checkIcon > path {
  stroke-dasharray: 29.78;
  stroke-dashoffset: 29.78;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.checkIconChecked > path {
  stroke-dashoffset: 0;
}
