.header {
  background-color: #1197d3;
  color: #fff;
  text-align: center;
}

.header--dark {
  background-color: #0a2938;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #fff;
  height: 60px;
  font-size: 1.2rem;
  color: #1197d3;
  font-weight: 500;
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__item {
  white-space: nowrap;
}

.header__link {
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  transition: background-color 0.3s ease;
}

.header__link:hover {
  background-color: #0d76a6;
}

.header__link--active,
.header__link--active:hover {
  background-color: #004363;
}

.header__icon {
  width: 24px;
  height: 24px;
}
