.empty {
  color: #888;
  padding: 1.5em;
  text-align: center;
}

.dropdown {
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow:
    0px 0px 3px 0px rgba(0, 0, 0, 0.15),
    0px 3px 8px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 8px;
  font-weight: normal;
}

.option:hover {
  background-color: #eee;
  cursor: pointer;
}

.optionSelected,
.optionSelected:hover {
  background: #1197d3;
  color: white;
}
