.button {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  height: 56px;
  justify-content: center;
  outline: 0;
  padding: 0 1em;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f9f9f9;
}

.button > svg {
  fill: #F9A50D;
  height: 2.85em;
  margin: 0 auto;
  padding: 0.25em;
  transition: fill 0.25s ease-out;
  width: auto;
}

.button:hover > svg {
  fill: #0d76a6;
}

.empty {
  color: #888;
  padding: 1em;
  min-width: 132px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
  min-width: 132px;
}

.option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.option:hover {
  background-color: #eee;
  cursor: pointer;
}

.optionLabel {
  margin-right: 1em;
  white-space: nowrap;
}
