.treenode {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.treenode__header {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
}

.treenode__icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  flex-shrink: 0;
}

.treenode__icon svg {
  display: block;
  width: 18px;
  height: 18px;
}

.treenode__checkbox {
  margin-right: 8px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.treenode__label {
  flex-grow: 1;
  line-height: 1;
  min-width: 0;
}

.treenode__header:hover {
  background-color: #eee;
  color: var(--color-nusight-500);
}
