2.3) Extended Abstract
-----------------------------

A two-page extended abstract must be submitted. For teams which have previously participated in the Humanoid League, the extended abstract needs to...
* ... include lessons learned from the participation in the previous RoboCup competition
* ... highlight major problems the team is trying to solve for the upcoming competition
* ... outline the plans of major changes the teams anticipates to have implemented by the RoboCup 2020 competition
* ... describes the status of implementation of the planned changes by the time of submitting the application

For teams which have never participated in the RoboCup Humanoid League, the Extended Abstract needs to pitch the scientific aspects of your humanoid robot system and highlight your research interests.

The Extended Abstract is limited to 2 pages maximum and must be submitted in PDF format. Extended Abstracts are designed to highlight the changes and scientific developments since the last RoboCup. Thus, we expect the usage of material from previous TDPs or Extended Abstracts to be minimal. If used, they need to be cited appropriately. Submissions of last years Extended Abstract will be desk-rejected.

The Extended Abstract must follow the LNCS format which can be downloaded from http://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0. Please pay special attention to the "Author guidelines" that you'll be able to find there. Teams that do to follow the LNCS formatting and style guidelines will not be qualified. No exceptions to this rule will be made.

3) Plagiarism
-----------------------------------------

Plagiarism, loosely the unattributed use of other peoples' words, code, and ideas is not tolerated in the RoboCup community. See plagiarism_FAQ.html for a more detailed description. The teams and team members that plagiarize other peoples' work and present it as their own will be disqualified. For a first offense, the team and team members will be banned from RoboCup competition for two years (usually the current and next year). Harsher penalties will be applied to repeat offenders or extremely serious cases of plagiarism. A team may be disqualified at any time for plagiarism, even after the competition has started. RoboCup will not reimburse teams for any expenses related to their disqualification.
