.label {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.labelName {
  flex-grow: 1;
}

.pickerButton {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: none;
  border: none;
  margin: 0;
}

.pickerPopover {
  position: absolute;
  z-index: 2;
  right: 8px;
}

.pickerPopoverCover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
