.container {
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}

.topBar {
  flex-grow: 1;
  background: #DDD;
  padding: 6px 12px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.topBarItem {
  padding-right: 16px;
  flex-shrink: 0;
}

.topBarInput {
  border: none;
  background: white;
  padding: 4px 6px;
  border-radius: 2px;
  margin-left: 6px;
  width: 96px;
}
