.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.contain canvas {
  object-fit: contain;
}

.cover canvas {
  object-fit: cover;
}

.fill canvas {
  object-fit: fill;
}
