.empty {
  color: #888;
  padding: 1em;
  text-align: center;
}

.emptyIcon {
  background-color: #888;
  border-radius: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  fill: #fff;
  height: 3em;
  margin: 0 auto 1em auto;
  opacity: 0.8;
  padding: 1em;
  width: 3em;
}

.emptyTitle {
  font-size: 1.54em;
  padding: 0.25em 0;
  white-space: nowrap;
}

.emptyDescription {
  font-size: 0.93em;
  white-space: nowrap;
}
