.robot {
  box-sizing: border-box;
  display: flex;
  min-width: 256px;
}

.robot:hover {
  background-color: #eee;
}

.robotLabel {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 50px;
  padding: 0;
  padding-left: 1em;
  cursor: pointer;
}

.robotStatusIndicator {
  margin-right: 0.75em;
}

.robotName {
  margin-right: auto;
  white-space: nowrap;
}

.robotSwitch {
  padding-left: 0.5em;
  padding-right: 0.75em;
  margin-right: 0.25em;
  border-right: 1px solid #ddd;
}

.statsDropdownButton {
  appearance: none;
  background: none;
  border: none;
  color: #888;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 50px;
  padding: 0 1em 0 0.5em;
}

.statsDropdownButton:hover,
.statsDropdownButton:focus {
  color: #F9A50D;
}

.statsDropdownButton svg {
  transition: transform 0.3s ease;
}

.statsDropdownButtonOpen svg {
  transform: rotate(-180deg);
}

.dataTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.dataCell {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}

.dataLabel {
  text-transform: uppercase;
  font-size: 12px;
  color: #888;
}

.dataValue {
  font-size: 20px;
  font-family: monospace;
}
