.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  z-index: 100;
}

.dropdownMenuFullwidth {
  width: 100%;
}

.dropdownMenuRight {
  right: 0;
}

.dropdownMenuUp {
  bottom: 100%;
}

.dropdownMenuDown {
  top: 100%;
}
