.dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.menuItem {
  display: flex;
  margin: 0;
  padding: 0;
}

.menuButton {
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 0.8rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.menuButton:hover {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.menuButton:focus,
.menuButton:active {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.field {
  flex: 1;
  position: relative;
}

.panel {
  border-radius: 0.1em;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18);
  flex: 1;
  margin-left: 0.85em;
  overflow: hidden;
}

.panel:first-child {
  margin-left: 0;
}

.panels {
  display: flex;
  padding: 0.85em;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}
