.odometry {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.selector {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  flex-grow: 1;
  position: relative;
}
