@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
