.loading {
  animation: rotationAnimation 0.7s linear infinite;
}

.circle {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: -35px;
  stroke-linecap: round;
  stroke: #F9A50D;
}

@keyframes rotationAnimation {
  100% {
    transform: rotate(360deg);
  }
}
