.battery {
  align-items: center;
  display: flex;
}

.batteryIcon {
  height: 1em;
}

.batteryValue {
  margin-right: 0.1em;
}

.connectionStatus {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #0c7700;
  margin-right: 0.5em;
}

.connectedStatus {
  background-color: #00de46;
}

.disconnectedStatus {
  background-color: red;
}

.details {
  font-size: 0.92em;
  padding: 0.5em;
}

.group {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
  margin-bottom: 0.5em;
  padding-bottom: 0.85em;
}

.group:not(:first-child) {
  padding-top: 1em;
}

.group:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.header {
  background-color: #009688;
  color: #fff;
}

.icon {
  border: 0.1em transparent solid;
  border-radius: 0.15em;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 1.5rem;
}

.icon > svg {
  fill: #777;
  height: inherit;
  stroke: #777;
  stroke-width: 0.5em;
  width: inherit;
}

@keyframes flashDanger {
  to {
    border-color: #f44336;
  }
}

.iconDangerStatus {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: flashDanger;
}

.iconDangerStatus > svg {
  fill: #f44336;
  stroke: #f44336;
}

.iconWarningStatus > svg {
  fill: #ff9800;
  stroke: #ff9800;
}

.cameraIcon {
}

.icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.label {
  flex: 1;
  font-size: 0.8em;
  font-weight: 600;
  line-height: normal;
}

.penaltyIcon {
  fill: #ff9800;
  height: 1em;
  width: 1em;
  margin-left: 0.25em;
}

.row {
  display: flex;
  flex-direction: column;
}

.statusBar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.12);
  display: flex;
  font-size: 0.92em;
  height: 1.85em;
  padding: 0 0.5em;
}

.title {
  flex: 1;
}

.value {
  align-items: center;
  display: flex;
}
