.header {
	background-color: #1197d3;
	color: #fff;
	text-align: center;
}

.header--dark {
	background-color: #0a2938;
}

.header__logoContainer {
	background-color: #fff;
	display: flex;
	align-items: center;
	height: 60px;
}

.header__logo {
	width: 40px;
	height: 40px;
	margin: 8px;
}

.header__title {
	margin-right: 8px;
	font-size: 1.2rem;
	color: #000;
	font-weight: 400;
}

.header__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header__item {}

.header__link {
	padding: 1rem;
	color: #fff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.7rem;
	transition: background-color 0.3s ease;
}

.header__link:hover {
	background-color: #0d76a6;
}

.header__link--active,
.header__link--active:hover {
	background-color: #004363;
}

.header__icon {
	width: 24px;
	height: 24px;
}
