.button {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  height: 60px;
  justify-content: center;
  outline: 0;
  padding: 0 1em;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f9f9f9;
}

.button > svg {
  fill: #F9A50D;
  height: 2.85em;
  margin: 0 auto;
  padding: 0.25em;
  transition: fill 0.25s ease-out;
  width: auto;
}

.button:hover > svg {
  fill: #0d76a6;
}

.empty {
  color: #888;
  padding: 1em;
  text-align: center;
}

.emptyIcon {
  background-color: #888;
  border-radius: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  fill: #fff;
  height: 3em;
  margin: 0 auto 1em auto;
  opacity: 0.8;
  padding: 1em;
  width: 3em;
}

.emptyTitle {
  font-size: 1.54em;
  padding: 0.25em 0;
  white-space: nowrap;
}

.emptyDescription {
  font-size: 0.93em;
  white-space: nowrap;
}

.robots {
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15), 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
}
