.collapsibleHeader {
  appearance: none;
  border: none;
  background-color: #eee;
  width: 100%;
  padding: 8px 12px;
  text-align: left;
  font-family: inherit;
}

.collapsibleHeader:hover,
.collapsibleHeader:focus {
  background-color: #ddd;
}

.collapsibleBody {
  box-sizing: border-box;
  border: 1px solid #eee;
  padding: 8px 12px;
}

.collapsibleTransition {
  overflow: hidden;
  transition: max-height 0.2s ease;
}
