[Unit]
Description="RoboCup auto-start unit"
Wants=network.target
After=network.target
RequiresMountsFor=/home/booster

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/booster
User=booster
Environment=HOME="/home/booster/"
PassEnvironment=HOME
ExecStart=/home/booster/robocup

[Install]
WantedBy=multi-user.target
